body {
    width: 100%;
    height: 100vh;
    margin: 5%; /* Adjust margins as desired */
    padding: 5%; /* Adjust padding as desired */
    font-size: 16px;
    color: #fff;
    font-family: Roboto, sans-serif;
    overflow: hidden;
    background-color: black !important;
  
    /*background: #000 url("example/full_pattern.png") 50% 50%;*/
  }
  


.svg-pattern-wrapper {
    height: 100vh;
    min-height: 100vh;
}

.svg-pattern {
    position: fixed;
    /*display: none;*/
}

.bl_widget {
    position: absolute;
    top: 1vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}


.bl_widget__rick {
    display: block;
    margin: 0 auto;
}

.fake_form {
    width: 300px;
    padding: 20px;
    background-color: #2B2B2B;
    border-radius: 10px;
    border: 1px solid #555;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


.fake_form__main {
    margin: 0 auto 15px;
}

.bl_logos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bl_logos svg {
    margin: 0 15px 15px;
}


.block_filds {
    position: relative;
    width: 48%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.block_filds:first-of-type,
.block_filds:nth-of-type(2),
.block_filds:last-child {
    width: 100%;
}


.input_field {
    width: 100%;
    background: none;
    border-radius: 4px;
    border: 1px solid #555;
    box-sizing: border-box;
    padding: 5px 0;
    margin: 5px 0 0;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.input_field:focus {
    outline-color: #65d900
}

input:focus::-webkit-input-placeholder,
input:focus:-ms-input-placeholder,
input:focus::placeholder {
    opacity: 0
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity .3s
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 1;
    transition: opacity .3s
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    transition: opacity .3s
}

input::-moz-focus-inner,
input::-moz-focus-outer,
textarea::-moz-focus-inner,
textarea::-moz-focus-outer {
    border: 0;
    outline: 0
}

.fake_form__text {
    line-height: 25px;
}

.btn_check {
    display: block;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 6px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: rgb(29, 180, 25);
    transition: .12s;
    text-transform: uppercase;
    animation: shadow-pulse 1.2s infinite;
    font-size: 24px;
}

.btn_check:hover,
.btn_check:focus {
    background-color: rgb(11, 96, 21);
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(29, 180, 25, .2);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(29, 180, 25, 0);
    }
}

.checkbox_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.checkbox_button:checked+.img-santa {
    transition: 1s;
    bottom: 400%;
    right: 100%;
    opacity: 1;
}
.checkbox_button:checked+.img-morty {
    transition: 1s;
    bottom: 400%;
    right: 100%;
    opacity: 1;
}

.img-santa {
    opacity: 0;
    position: absolute;
    bottom: -400%;
    right: -100%;
    z-index: 3;
}

@media only screen and (max-width: 450px) {
    .bl_widget {
        top: -20px;
    }
}


@media only screen and (max-width: 380px) {
    .bl_widget {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .bl_widget__rick {
        display: none;
    }
}

@media only screen and (max-height: 260px) {
    .bl_widget {
        display: none;
    }
}