body{
    background-color: black !important;
    width: 100vw;
    height: 100vh;
}

.dialogcontainer{

    display: grid;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    gap: 20px;
}

.dialoginline{
    display: flex;
    padding-left: 20px;
    padding-bottom: 0px;
    padding-top: 20px;
    padding-right: 20px;
    gap: 20px;
    align-items: center;
}

.dialogderecha{
    display: flex;
    justify-content: right;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    gap: 5px;
}

