body {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../../../assets/Fondo-inicio.jpg");
  background-size: cover;
}

//-----------------------Botón Start--------------------------------
.buttonContainer {
  //background-image: linear-gradient(to right bottom, #ff2929, #d12121, #af1b1b);
  //background: url('../../../assets/start-button.png');
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  grid-row: 3;
  grid-column: 2;
  animation: buttonAnimation 3s linear;
}

.startButton {
  width: 30%;
  animation: buttonAnimationTamano 3s linear;
}

.imagen {
  filter: drop-shadow(1px 5px 0px #444);
}

//-----------------------Tarjeta personaje--------------------------------
.tarjeta-container {
  display: flex;
  justify-self: center;
  align-items: center;
  grid-column: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  min-width: 80%;
  margin-bottom: 10%;
}

.tarjeta {
  width: 100%;
  display: flex;
}

//-----------------------Botón episodios--------------------------------
.episodios {
  color: white;
  font-size: 1.3em;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5) inset;
  display: flex;
  grid-column: 3;
  grid-row: 3;
  width: 50%;
  height: 30%;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  padding: 4%;
}

.episodios:hover {
  background-color: rgba(0, 0, 0, 0.8);
  animation: buttonGrow 0.1s linear;
  transform: scale(1.05);
}

@keyframes buttonGrow {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

//-----------------------Botón episodios--------------------------------
.episodios{
  color: white;
  font-size: 1.3em;
  background-color: rgba(0, 0, 0, 0.60);
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5) inset;
  display: flex;
  grid-column: 3;
  grid-row: 3;
  width: 50%;
  height: 30%;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  padding: 4%;
}

.episodios:hover {
  background-color: rgba(0, 0, 0, 0.80);
  animation: buttonGrow 0.1s linear;
  transform: scale(1.05);
}

@keyframes buttonGrow {
  0% {
    transform: scale(1);
  }


  100% {
    transform: scale(1.05);
  }

}

//-----------------------Animación botón--------------------------------
.imagen:active {
  transform: translateY(4px);
  filter: drop-shadow(0px 1px 0px #222);
}

@keyframes buttonAnimation {
  0% {
    grid-row-start: 1;
    grid-row-end: 4;
    transform: translate3d(0, 0, 0);
    transition: transform 1s;
  }

  45% {
    grid-row-start: 1;
    grid-row-end: 4;
    transform: translate3d(0, 0, 0);
    transition: transform 1s;
  }

  50% {
    grid-row-start: 1;
    grid-row-end: 4;
    transform: translate3d(0, 50%, 0);
    transition: transform 0.1s;
  }

  55% {
    grid-row-start: 1;
    grid-row-end: 4;
    transform: translate3d(0, 38%, 0);
    transition: transform 0.1s;
  }

  60% {
    grid-row-start: 1;
    grid-row-end: 4;
    transform: translate3d(0, 33%, 0);
    transition: transform 0.1s;
  }

  70% {
    grid-row-start: 1;
    grid-row-end: 4;
    transform: translate3d(0, 30%, 0);
    transition: transform 0.5s;
  }

  80% {
    grid-row-start: 1;
    grid-row-end: 4;
    transform: translate3d(0, 31%, 0);
    transition: transform 0.5s;
  }
  85% {
    grid-row-start: 1;
    grid-row-end: 4;
    transform: translate3d(0, 32%, 0);
    transition: transform 0.5s;
  }

  90% {
    grid-row-start: 1;
    grid-row-end: 4;
    transform: translate3d(0, 34%, 0);
    transition: transform 0.5s;
  }
  95% {
    grid-row-start: 1;
    grid-row-end: 4;
    transform: translate3d(0, 36.5%, 0);
    transition: transform 0.5s;
  }

  100% {
    grid-row-start: 1;
    grid-row-end: 4;
    transform: translate3d(0, 37.5%, 0);
    transition: transform 0.5s;
  }
}

@keyframes buttonAnimationTamano {
  0% {
    width: 0%;
  }

  33% {
    width: 0%;
  }

  45% {
    width: 5%;
  }

  48% {
    width: 15%;
  }

  53% {
    width: 25%;
  }

  56% {
    width: 30%;
  }

  100% {
    width: 30%;
  }
}

//-----------------------Scores--------------------------------
.score {
  display: flex;
  font-family: "Get Schwifty";
  font-size: 1.5em;
  color: white;
  justify-content: space-between;
}

.scoresContainer {
  width: 78%;
  padding: 0;
  justify-self: center;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.imagenScores {
  width: 100%;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

//-----------------------Título--------------------------------
.tituloContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  // margin-left: 5%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;
  animation: tituloAnimationMovimiento 2s linear;
}

.titulo {
  width: 40%;
  animation: tituloAnimationRotacion 2s linear;
}

@keyframes tituloAnimationMovimiento {
  0% {
    grid-row-start: 1;
    grid-row-end: 4;
    filter: brightness(2) blur(5px);
  }

  50% {
    grid-row-start: 1;
    grid-row-end: 4;
    filter: brightness(1.5) blur(3px);
  }

  75% {
    grid-row-start: 1;
    grid-row-end: 4;
    filter: brightness(1.3) blur(2px);
  }
  85% {
    grid-row-start: 1;
    grid-row-end: 4;
    filter: brightness(1.2) blur(1px);
    transform: translate3d(0, -20%, 0);
    transition: transform 0.5s ease-in-out;
  }

  92% {
    grid-row-start: 1;
    grid-row-end: 4;
    filter: brightness(1.5) blur(0px);
    transform: translate3d(0, -30%, 0);
    transition: transform 0.3s ease-in-out;
  }

  100% {
    grid-row-start: 1;
    grid-row-end: 4;
    filter: brightness(1) blur(0px);
    transform: translate3d(0, -40%, 0);
    transition: transform 0.3s ease-in-out;
  }
}

@keyframes tituloAnimationRotacion {
  0% {
    width: 0%;
  }

  10% {
    width: 3%;
    transform: rotate(90deg);
  }

  20% {
    width: 6%;
    transform: rotate(180deg);
  }

  30% {
    width: 10%;
    transform: rotate(270deg);
  }

  40% {
    width: 15%;
    transform: rotate(360deg);
  }

  50% {
    width: 20%;
    transform: rotate(390deg);
  }

  60% {
    width: 25%;
    transform: rotate(405deg);
  }

  70% {
    width: 30%;
    transform: rotate(420deg);
  }

  80% {
    width: 35%;
    transform: rotate(405deg);
  }

  90% {
    width: 40%;
    transform: rotate(390deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

//-----------------------Portal--------------------------------
.portal-container {
  width: 35%;
  justify-self: center;
  align-self: center;
  grid-column: 2;
  grid-row: 2;
}

//-----------------------Container--------------------------
.container {
  // position: absolute;
  // top: 0; bottom: 0; left: 0; right: 0;
  display: grid;
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  grid-template-rows: 25% 50% 25%;
  /* Crea 3 filas */
  grid-template-columns: 30% 40% 30%;
  /* Crea 3 columnas */
}

//<-------Rick Y Morty animación-------->

#rick-div {
  min-width: 100%;
  display: flex;
  grid-column: 2;
  grid-row: 2;
  justify-content: flex-end;
  // margin-left: 10%;
  animation: rickMove 3s infinite alternate;
}

#morty-div {
  min-width: 100%;
  display: flex;
  grid-column: 2;
  grid-row: 2;
  justify-content: flex-start;
  animation: mortyMove 3s infinite alternate ease-in-out;
}

.rick {
  width: 40%;
}

.morty {
  width: 40%;
}

// @keyframes mortyMove {
//   0% {
//     top: 100px;
//     left: 400px
//   }

//   50% {
//     top: 75px;
//     left: 408px
//   }

//   100% {
//     top: 50px;
//     left: 404px
//   }
// }
@keyframes mortyMove {
  100% {
    margin-bottom: 50px;
    margin-left: -17px;
  }

  50% {
    margin-bottom: 25px;
    margin-left: -25px;
  }

  0% {
    margin-bottom: 0px;
    margin-left: -21px;
  }
}

// @keyframes rickMove {
//   0% {
//     top: 20px;
//     left: 700px
//   }

//   50% {
//     top: 50px;
//     left: 708px
//   }

//   100% {
//     top: 80px;
//     left: 704px
//   }
// }

@keyframes rickMove {
  100% {
    margin-bottom: 0px;
    margin-left: 15px;
  }

  50% {
    margin-bottom: 30px;
    margin-left: 23px;
  }

  0% {
    margin-bottom: 60px;
    margin-left: 19px;
  }
}

@keyframes rickPupil {
  from {
    transform: translateY(-3px);
  }

  to {
    transform: translateY(-12px);
  }
}

@keyframes mortyPupil {
  from {
    transform: translateY(5px);
  }

  to {
    transform: translateY(15px);
  }
}

@keyframes background {
  0% {
    background-position: center top;
  }

  25% {
    background-position: 18% 25%;
  }

  50% {
    background-position: 14% 23%;
  }

  75% {
    background-position: 20% 30%;
  }

  100% {
    background-position: 27% 22%;
  }
}

.morty-pupil {
  animation: mortyPupil 3s infinite alternate;
}

.rick-pupil {
  animation: rickPupil 3s infinite alternate;
}
//------------------- Modal -----------------
.mi-dialogo .ui-dialog-content {
  background-color: transparent;
}

/* En el CSS del componente principal */

p-dialog ::ng-deep .p-dialog {
  margin-top: 3%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5) inset;
}

p-dialog ::ng-deep .p-dialog {
  background-color: rgba(0, 0, 0, 0.4); /* Color de fondo del diálogo */
}

p-dialog ::ng-deep .p-dialog-header {
  background-color: rgba(0, 0, 0, 0.4); /* Color de fondo del encabezado */
  color: #ffffff; /* Color de la fuente */
}

p-dialog ::ng-deep .p-dialog-content {
  background-color: rgba(0, 0, 0, 0.4); /* Color de fondo del contenido */
}

p-dialog ::ng-deep .p-dialog-footer {
  background-color: rgba(0, 0, 0, 0.4); /* Color de fondo del pie de página */
}

p-dialog ::ng-deep .p-dialog-content {
  overflow: hidden; /* Ocultar la barra de scroll */
}

.temporadas{
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1%;
  position: fixed;
  width: fit-content;
  height: 55%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow-y: auto ;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5) inset;
}
.temporadas button{
  display: flex;
  align-items: flex-end;
}
.temporadas h1{
  padding: 2%;
  font-size: 28px;
  color: white;
  text-align: left;
}

::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Pulgar de la barra de desplazamiento transparente */
  border-radius: 5px; /* Bordes redondeados del pulgar */
}

::-webkit-scrollbar-thumb:hover {
  background-color: transparent; /* Pulgar de la barra de desplazamiento transparente al pasar el ratón */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Fondo de la barra de desplazamiento transparente */
  border-radius: 5px; /* Bordes redondeados del fondo */
}